
/*====================动画(上升的气泡)=============================*/
@-webkit-keyframes showAndDisapper {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes riseUp {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(0, -10px);
    }
}

/*-webkit-animation: showAndDisapper 3s linear 0s infinite,
riseUp 3s linear 0s infinite;

-webkit-animation: showAndDisapper 3s linear 0.2s infinite,
riseUp 3s linear 0.2s infinite;

-webkit-animation: showAndDisapper 3s linear .4s infinite,
riseUp 3s linear .4s infinite;*/

/*============================================================*/

W3C中，关于font-family中有这句话：
注意：使用某种特定的字体系列（Geneva）完全取决于用户机器上该字体系列是否
可用；这个属性没有指示任何字体下载。因此，强烈推荐使用一个通用字体系列名
作为后路。

/*============================================================*/
/*===========下箭头=============*/
.bottom-arrow:before{  
  content:"";  
  border:8px solid #999;  
  border-bottom:none;  
  border-right-color:transparent;  
  border-left-color:transparent;  
  position:relative;  
  top:18px;  
  left:12px;  
}
.bottom-arrow:after{  
  content:"";  
  border:8px solid #fff;  
  border-bottom:none;  
  border-right-color:transparent;  
  border-left-color:transparent;  
  position:relative;  
  top:16px;  
  left:-4px;  
}  
/*============================================================*/
段落首行缩进2字
.text-indent2 {
  text-indent: 2em;
}
/*============================================================*/

HTML5之placeholder属性以及如何更改placeholder属性中文字颜色:

input::-webkit-input-placeholder{
    color:red;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:red;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:red;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:red;
}