#p1 {
	background: url(../img/bg1.jpg);
	height: 1138px;
	/*overflow: hidden;*/
	display: block;
	background-size: 100% 100%;
	position: relative;
	z-index: -999;
}
* {
	margin: 0;
	padding: 0;
}
.swiper-container .left {
	transform: scale(2);
	background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}
.swiper-container .right {
	transform: scale(2);
	background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.pic1 img {
	position: absolute;
	bottom: 230px;
	left: 30px;
}
.pic2 img {
	position: absolute;
	bottom: 100px;
	left: 50px;
}
.p1-bottom {
	bottom: 0;
	position: absolute;
}
.p1-bottom img:nth-child(2) {
	position: absolute;
	bottom: 25px;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}
/*.swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L5%2C44l-4.2-4.2L18.6%2C22L0.8%2C4.2L5%2C0z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");}
*/

/*.p1-bottom img:nth-child(1) {

}*/

/*.p1-bottom .ani{
   -webkit-animation-timing-function:  linear;
   
}*/
.p1-under img {
	position: absolute;
	z-index: -10;
	top: 0;
}
.p1-under img:nth-child(1) {
	position: absolute;
	z-index: -1;
	top: 0;
}
.p1-under img:nth-child(2) {
	position: absolute;
	z-index: -10;
	top: 0;
}

.p1-under2 img {
	position: absolute;
	z-index: -10;
	top: 0;
}
.p1-under3 img {
	position: absolute;
	z-index: -10;
	top: 300px;
	left: 15px;
}

#p2 {
	background: url(../img/bg2.jpg);
	height: 1138px;
	/*overflow: hidden;*/
	display: block;
	background-size: 100% 100%;
	position: relative;
	z-index: -999;
}
/*#kadun {
	display: none;
	-webkit-animation: shake 1s linear 8s infinite;
}*/
.p2-women,.p6-women {
	position: absolute;
	/*z-index: -10;*/
	left: 0;
}
.p2-man {
	width: 100%;
	height: 530px;
	position: absolute;
	bottom: 400px;
}
.p2-man img:nth-child(1) {
	position: absolute;
	top: 30px;
	left: 80px;
}
.p2-man img:nth-child(2) {
	position: absolute;
	top: 106px;
	left: 126px;
}
.p2-man img:nth-child(3) {
	position: absolute;
	width: 68px;
	height: 108px;
	top: 110px;
	left: 330px;
}
.p2-man img:nth-child(4),.p2-man img:nth-child(5),
.p2-man img:nth-child(6),.p2-man img:nth-child(10) {
	position: absolute;
	width: 66px;
	height: 58px;
}
.p2-man img:nth-child(7),
.p2-man img:nth-child(8),.p2-man img:nth-child(9) {
	position: absolute;
	width: 64px;
	height: 56px;
}
.p2-man img:nth-child(4) {
	top: 160px;
	left: 398px;
}

.p2-man img:nth-child(5) {
	top: 160px;
	left: 469px;
}
.p2-man img:nth-child(6) {
	top: 160px;
	left: 540px;
}
.p2-man img:nth-child(10) {
	top: 160px;
	left: 325px;
}

.p2-man img:nth-child(7) {
	top: 161px;
	left: 399px;
}
.p2-man img:nth-child(8) {
	top: 161px;
	left: 470px;
}
.p2-man img:nth-child(9) {
	top: 161px;
	left: 541px;
}

.p2-man img:nth-child(7),.p2-man img:nth-child(8),
.p2-man img:nth-child(9) {
	z-index: -1;
}
.p2-bottom {
	position: absolute;
	bottom: 0;
}
.p2-bottom img:nth-child(2) {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0;
	right: 0;
	margin: auto;
}
.p2-bottom img:nth-child(3) {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0;
	right: 0;
	margin: auto;
	/*display: none;	*/
}
.phone {
	width: 100%;
	height: 220px;
	position: absolute;
	bottom: 460px;
	display: block;
}
.phone img {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}
.p2-under img:nth-child(1) {
	position: absolute;
	z-index: -1;
} 
.p2-under img:nth-child(2) {
	position: absolute;
	z-index: -1;
} 
.p2-under img:nth-child(3) {
	position: absolute;
	z-index: -1;
	bottom: 70px;
} 
/*.flash-heart {
	opacity: 0;
	-webkit-animation: flash 1s ease 5s alternate,
	flash 1s ease 6s infinite;
}
.pulse-heart {
	-webkit-animation: pulse 1s ease 6s infinite;

}*/
/*闪烁*/
@-webkit-keyframes flash {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
/*心跳*/
@-webkit-keyframes pulse {
	0% {
		transform: scale(1);
	}
	100% {
		opacity: scale(1.3);
	}
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

#p3 {
	background: url(../img/bg4.jpg);
	height: 1138px;
	/*overflow: hidden;*/
	display: block;
	background-size: 100% 100%;
	position: relative;
	z-index: -999;	
}
.p3-women {
	position: absolute;
	z-index: -10;
	left: 0;
}
.p3-middle {
	position: absolute;
	width: 100%;
	height: 450px;
	bottom: 400px;
}
.p3-middle img:nth-child(1) {
	position: absolute;
	bottom: 0px;
	left: 200px;
}
.p3-middle img:nth-child(4) {
	position: absolute;
	bottom: 70px;
	left: 120px;
}
.p3-middle img:nth-child(2) {
	position: absolute;
	bottom: 100px;
	left: 385px;
}
.p3-middle img:nth-child(3) {
	position: absolute;
	bottom: 160px;
	left: 420px;
}
.p3-middle img:nth-child(5) {
	position: absolute;
	bottom: 210px;
	left: 175px;
}
.p3-bottom {
	position: absolute;
	bottom: 0px;
}
.p3-bottom img:nth-child(2),
.p3-bottom img:nth-child(3) {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}
.p3-bottom img:nth-child(1) {
	position: relative;
	z-index: -1;
	/*bottom: 0px;*/
}
.p3-under {
	position: absolute;
	top: 0;
	z-index: -20;
}
.p3-under img:nth-child(2),
.p3-under img:nth-child(3) {
	position: absolute;
	top: 0;
}

#p4 {
	background: url(../img/bg3.jpg);
	height: 1138px;
	/*overflow: hidden;*/
	display: none;
	background-size: 100% 100%;
	position: relative;
	z-index: -999;		
}
.p4-man,.p5-man,.p7-man {
	position: absolute;
	right: 0;
}
.zhujue {
	position: absolute;
	left: 20px;
	top: -45px;
}
.p4-middle {
	position: absolute;
	bottom: 480px;
	left: 70px;
}
#target {
	position: absolute;
	bottom: 180px;
	left: 60px;
}
.p4-bottom {
	position: absolute;
	bottom: 0px;
}
.p4-bottom img:nth-child(2),
.p4-bottom img:nth-child(3) {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}
.p4-bottom img:nth-child(1) {
	position: relative;
	z-index: -1;
	/*bottom: 0px;*/
}
#p5 {
	background: url(../img/bg5.jpg);
	height: 1138px;
	/*overflow: hidden;*/
	display: none;
	background-size: 100% 100%;
	position: relative;
	z-index: -999;		
}
.p5-middle {
	position: absolute;
	width: 100%;
	height: 400px;
	bottom: 400px;
}
.p5-container {
	width: 180px;
	height: 350px;
	position: absolute;
}
.p5-container img:nth-child(2) {
	position: absolute;
	bottom: 60px;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}
.p5-container img:nth-child(1) {
	position: absolute;
	bottom: 0px;
	right: -40px;
}
#one {
	left: 70px;
	bottom: 0px;
}
#two {
	left: 215px;
	bottom: 0px;

}
#three {
	left: 360px;
	bottom: 0px;

}
#tuanmie {
	left: 235px;
	position: absolute;
}
.p5-bottom {
	position: absolute;
	bottom: 0px;
}
.p5-bottom img:nth-child(2),
.p5-bottom img:nth-child(3) {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}
.p5-bottom img:nth-child(1) {
	position: relative;
	z-index: -1;
	/*bottom: 0px;*/
}
#p6 {
	background: url(../img/bg6.jpg);
	height: 1138px;
	/*overflow: hidden;*/
	display: none;
	background-size: 100% 100%;
	position: relative;
	z-index: -999;		
}
.p6-middle {
	height: 380px;
	width: 100%;
	position: absolute;
	bottom: 335px;
}
.p6-middle img:nth-child(1) {
	position: absolute;
	left: 100px;
	bottom: 35px;
}
.p6-middle img:nth-child(2) {
	position: absolute;
	left: 160px;
	bottom: 165px;
}
.p6-middle img:nth-child(3) {
	position: absolute;
	right: 0px;
	bottom: 25px;
}
.p6-middle img:nth-child(4) {
	position: absolute;
	right: 15px;
	bottom: 215px;
}

.p6-bottom {
	position: absolute;
	bottom: 0px;
}
.p6-bottom img:nth-child(2),
.p6-bottom img:nth-child(3) {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}
.p6-bottom img:nth-child(1) {
	position: relative;
	z-index: -1;
	/*bottom: 0px;*/
}
#p7 {
	background: url(../img/bg7.jpg);
	height: 1138px;
	/*overflow: hidden;*/
	display: none;
	background-size: 100% 100%;
	position: relative;
	z-index: -999;		
}
.p7-middle {
	height: 250px;
	width: 100%;
	position: absolute;
	bottom: 470px;
}
.p7-middle img:nth-child(1),.p7-middle img:nth-child(2) {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: auto;	
}
.p7-middle img:nth-child(3) {
	position: absolute;
	bottom: 250px;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: auto;		
}
.p7-bottom {
	position: absolute;
	bottom: 0px;
}
.p7-bottom img:nth-child(2),
.p7-bottom img:nth-child(3) {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}
.p7-bottom img:nth-child(1) {
	position: relative;
	z-index: -1;
	/*bottom: 0px;*/
}
#p8 {
	background: url(../img/bg8.jpg);
	height: 1138px;
	/*overflow: hidden;*/
	display: none;
	background-size: 100% 100%;
	position: relative;
	z-index: -999;		
}
.p8-middle {
	position: absolute;
	top: 350px;
	left: 30px;
}
.p8-top {
	position: absolute;
	bottom: 63px;
}
.p8-bottom {
	position: absolute;
	bottom: 0px;
}
.p8-bottom img:nth-child(2) {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}
.p8-bottom img:nth-child(1) {
	position: relative;
	z-index: -1;
	/*bottom: 0px;*/
}