* {
	padding: 0;
	margin: 0;
}

#homePage {
	background: url(../img/bg1.png) no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	display: none;
	overflow: hidden;
}
.homePageStartWp {
	height: 100%;
	overflow: hidden;
}
html,body {
	height: 100%;
	/*display: none;*/
	overflow: hidden;
}

.sun {
	width: 3rem;
	position: absolute;
	left: 1rem;
	top: 0.5rem;
	/*display: none;*/
}

.sky img:nth-child(2) {
	width: 2.2rem;
	position: absolute;
	left: 15rem;
	top: 2.5rem;
	/*display: none;*/
}

.sky img:nth-child(3) {
	width: 1.5rem;
	position: absolute;
	left: 0.8rem;
	top: 10.5rem;
	/*display: none;*/
}

.homePageTitle img:nth-child(1) {
	width: 7.5rem;
	position: absolute;
	left: 6rem;
	top: 2.5rem;
	z-index: 999;
	/*display: none;*/
}

.homePageTitle img:nth-child(2) {
	width: 6rem;
	position: absolute;
	left: 6.5rem;
	top: 8rem;
	z-index: 999;
	/*display: none;*/
}

#zba {
	width: 6rem;
	height: 8.5rem;
	position: absolute;
	z-index: 50;
	left: 1rem;
	bottom: 11rem;
	/*display: none;*/
}

#zba img:nth-child(1) {
	width: 6rem;
	position: relative;
	z-index: 50;
	/*display: none;*/
}

#zba_yz {
	width: 4.5rem;
	position: absolute;
	z-index: 50;
	bottom: 0rem;
	left: 0.9rem;
	/*display: none;*/
}

#zba_hl {
	width: 1.6rem;
	position: absolute;
	left: -0.2rem;
	top: 4.5rem;
	z-index: 100;
	-webkit-transform-origin: top right;
	/*display: none;*/
}

#zba_fl {
	width: 1rem;
	position: absolute;
	bottom: 0rem;
	left: 1.5rem;
	z-index: 100;
	-webkit-transform-origin: top right;
	/*display: none;*/
}

#zba_fr {
	width: 1.3rem;
	position: absolute;
	bottom: 0.3rem;
	left: 4rem;
	z-index: 10;
	-webkit-transform-origin: top left;
	/*display: none;*/
}

#zma {
	width: 5rem;
	height: 6.5rem;
	position: absolute;
	z-index: 40;
	left: 6rem;
	bottom: 12rem;
	/*display: none;*/
}

#zma img:nth-child(1) {
	width: 4.5rem;
	left: -0.2rem;
	position: absolute;
	z-index: 40;
	/*display: none;*/
}

#zma_hr {
	width: 1.3rem;
	left: 3.6rem;
	top: 3rem;
	position: absolute;
	z-index: 30;
	-webkit-transform-origin: top left;
	/*display: none;*/
}

#zma_fr {
	width: 1.05rem;
	left: 3.1rem;
	top: 5.5rem;
	position: absolute;
	z-index: 30;
	-webkit-transform-origin: top left;
	/*display: none;*/
}

#zma_fl {
	width: 0.9rem;
	position: absolute;
	z-index: 30;
	bottom: -0.1rem;
	left: 1rem;
	-webkit-transform-origin: top center;
	/*display: none;*/
}

#zma_yz {
	width: 3.8rem;
	position: absolute;
	z-index: 50;
	bottom: -0.2rem;
	left: 0.6rem;
	/*display: none;*/
}

#zsi {
	width: 4rem;
	height: 5.5rem;
	position: absolute;
	z-index: 60;
	bottom: 7.5rem;
	left: 9.5rem;
	/*display: none;*/
}

#zsi_bd {
	width: 3.5rem;
	position: absolute;
	left: 0.2rem;
	z-index: 40;
	/*display: none;*/
}

#zsi_hl {
	width: 0.9rem;
	position: absolute;
	z-index: 50;
	bottom: 2.2rem;
	left: 0.2rem;
	-webkit-transform-origin: top right;
	/*display: none;*/
}

#zsi_hr {
	width: 0.9rem;
	position: absolute;
	z-index: 30;
	bottom: 2.2rem;
	left: 3.0rem;
	-webkit-transform-origin: top left;
	/*display: none;*/
}

#zsi_fl {
	width: 0.8rem;
	position: absolute;
	bottom: 0.5rem;
	left: 1rem;
	z-index: 30;
	/*display: none;*/
}

#zsi_fr {
	width: 0.9rem;
	position: absolute;
	bottom: 0.55rem;
	left: 2.5rem;
	z-index: 30;
	/*display: none;*/
}

#zsi_yz {
	width: 3.0rem;
	position: absolute;
	z-index: 50;
	bottom: 0.3rem;
	left: 0.6rem;
	/*display: none;*/
}

#zbo {
	width: 3.0rem;
	height: 3.6rem;
	position: absolute;
	z-index: 60;
	bottom: 7.5rem;
	left: 13.5rem;
	/*display: none;*/
}

#zbo_bd {
	width: 3.0rem;
	position: absolute;
	left: 0rem;
	z-index: 40;
	/*display: none;*/
}

#zbo_hl {
	width: 0.9rem;
	position: absolute;
	z-index: 50;
	bottom: 1.1rem;
	left: -0.1rem;
	-webkit-transform-origin: top right;
	/*display: none;*/
}

#zbo_hr {
	width: 0.7rem;
	position: absolute;
	z-index: 30;
	bottom: 1rem;
	right: 0rem;
	-webkit-transform-origin: top left;
	/*display: none;*/
}

#zbo_fl {
	width: 0.6rem;
	position: absolute;
	bottom: 0.2rem;
	left: 0.8rem;
	z-index: 50;
	-webkit-transform-origin: top right;
	/*display: none;*/
}

#zbo_fr {
	width: 0.7rem;
	position: absolute;
	bottom: 0.2rem;
	right: 0.5rem;
	z-index: 30;
	-webkit-transform-origin: top left;
	/*display: none;*/
}

#zbo_yz {
	width: 2.0rem;
	position: absolute;
	z-index: 20;
	bottom: 0rem;
	left: 0.6rem;
	/*display: none;*/
}

#homePageStart {
	width: 6rem;
	position: absolute;
	bottom: 2rem;
	left: 6.4rem;
	/*display: none;*/
}


#zeb {
	width: 5rem;
	height: 6rem;
	position: absolute;
	z-index: 50;
	left: 1rem;
	bottom: 13rem;
	/*display: none;*/
}

#zeb img:nth-child(1) {
	width: 5rem;
	position: relative;
	z-index: 50;
	/*display: none;*/
}

#zeb_fl {
	width: .8rem;
	position: absolute;
	z-index: 60;
	bottom: -0.2rem;
	left: 2rem;
	-webkit-transform-origin: top left;
	/*display: none;*/
}

#zeb_fr {
	width: .8rem;
	position: absolute;
	z-index: 40;
	bottom: 0rem;
	right: 1.1rem;
	-webkit-transform-origin: top left;
	/*display: none;*/
}

#zeb_hl {
	width: 1.5rem;
	position: absolute;
	z-index: 60;
	right: 1.5rem;
	bottom: 1.5rem;
	/*display: none;*/
}

#box {
	position: absolute;
	width: 3rem;
	bottom: 14rem;
	left: 4rem;
	z-index: 50;
	/*display: none;*/
}

#box2 {
	position: absolute;
	width: 3rem;
	bottom: 13rem;
	left: 8rem;
	z-index: 50;
	/*-webkit-box-shadow: 0px 10px #7A8B8B;*/
	/*display: none;*/
}
.zeb_wp {
	position: absolute;
	/*z-index: 50;*/
}
#zeb_hr {
	width: 1.2rem;
	position: absolute;
	z-index: 50;
	bottom: 1.8rem;
	right: -1.2rem;
	/*display: none;*/
}

#zeb_yz {
	width: 4rem;
	position: absolute;
	bottom: -0.25rem;
	left: 1.3rem;
	/*display: none;*/
}

#zba2 {
	width: 5rem;
	height: 6.5rem;
	position: absolute;
	z-index: 50;
	left: 8rem;
	bottom: 12.2rem;
	/*display: none;*/
}

#zma2 {
	width: 5rem;
	height: 6.5rem;
	position: absolute;
	z-index: 50;
	left: 13rem;
	bottom: 12rem;
	/*display: none;*/
}

#zba3 {
	width: 5rem;
	height: 6.5rem;
	position: absolute;
	z-index: 50;
	left: 1.5rem;
	bottom: 12.2rem;
	-webkit-transform: rotateY(180deg);
	/*display: none;*/
}

#zma3 {
	width: 5rem;
	height: 6.5rem;
	position: absolute;
	z-index: 50;
	left: 13rem;
	bottom: 12rem;
	/*display: none;*/
}

#zba2 img:nth-child(1),#zba3 img:nth-child(1) {
	width: 4rem;
	position: relative;
	z-index: 50;
	left: 1rem;
	/*display: none;*/
}

#zma2 img:nth-child(1),#zma3 img:nth-child(1) {
	width: 3.7rem;
	position: relative;
	z-index: 50;
	left: 1rem;
	/*display: none;*/
}

#zba_hl2,#zba_hl3 {
	width: .9rem;
	position: absolute;
	left: 0.3rem;
	top: 3rem;
	z-index: 40;
	-webkit-transform-origin: top right;
	/*display: none;*/
}

#zma_hl2,#zma_hl3 {
	width: .9rem;
	position: absolute;
	left: 0.5rem;
	top: 3rem;
	z-index: 40;
	-webkit-transform-origin: top right;
	/*display: none;*/
}

#zba_hr2,#zba_hr3 {
	width: .9rem;
	position: absolute;
	right: 0rem;
	top: 3rem;
	z-index: 60;
	-webkit-transform-origin: top left;
	/*display: none;*/
}

#zma_hr2,#zma_hr3 {
	width: .9rem;
	position: absolute;
	right: 0.3rem;
	top: 3rem;
	z-index: 60;
	-webkit-transform-origin: top left;
	/*display: none;*/
}

#zba_fl2, #zba_fl3 {
	width: .8rem;
	position: absolute;
	left: 1.7rem;
	bottom: .9rem;
	z-index: 60;
	-webkit-transform-origin: top right;
	/*display: none;*/
}

#zma_fl2, #zma_fl3 {
	width: .8rem;
	position: absolute;
	left: 1.3rem;
	bottom: 1.1rem;
	z-index: 60;
	-webkit-transform-origin: top right;
	/*display: none;*/
}

#zba_fr2,#zba_fr3 {
	width: .7rem;
	position: absolute;
	left: 3.5rem;
	bottom: 0.8rem;
	z-index: 60;
	-webkit-transform-origin: top right;
	/*display: none;*/
}

#zma_fr2,#zma_fr3 {
	width: .7rem;
	position: absolute;
	left: 3.3rem;
	bottom: 1.0rem;
	z-index: 40;
	-webkit-transform-origin: top right;
	/*display: none;*/
}

#zba_yz2, #zba_yz3 {
	width: 3.5rem;
	position: absolute;
	bottom: 0.6rem;
	left: 1.2rem;
	/*display: none;*/
}

#zma_yz2,#zma_yz3 {
	width: 3.1rem;
	position: absolute;
	bottom: 0.85rem;
	left: 1.2rem;
	/*display: none;*/
}

#zsi2 {
	width: 3.5rem;
	height: 4.5rem;
	position: absolute;
	bottom: 5rem;
	left: 12rem;
	z-index: 60;
	/*display: none;*/
}

#zbo2 {
	width: 3rem;
	height: 3.5rem;
	position: absolute;
	bottom: 6rem;
	left: 8rem;
	z-index: 60;
	/*display: none;*/
}

#zsi3 {
	width: 3.5rem;
	height: 4.5rem;
	position: absolute;
	bottom: 3rem;
	left: 14rem;
	z-index: 60;
	/*display: none;*/
}

#zbo3 {
	width: 3rem;
	height: 3.5rem;
	position: absolute;
	bottom: 3rem;
	left: 11rem;
	z-index: 60;
	/*display: none;*/
}

#zsi2 img:nth-child(1),#zsi3 img:nth-child(1) {
	width: 3rem;
	position: relative;
	z-index: 50;
	left: .5rem;
	/*display: none;*/
}

#zbo2 img:nth-child(1),#zbo3 img:nth-child(1) {
	width: 3rem;
	position: relative;
	z-index: 50;
	/*display: none;*/
}

#zsi_hl2,#zsi_hl3 {
	width: .7rem;
	position: absolute;
	z-index: 40;
	left: 0.2rem;
	top: 2.5rem;
	/*display: none;*/
}

#zbo_hl2,#zbo_hl3 {
	width: .8rem;
	position: absolute;
	z-index: 40;
	left: 0rem;
	top: 2rem;
	/*display: none;*/
}

#zsi_hr2,#zsi_hr3 {
	width: .8rem;
	position: absolute;
	z-index: 60;
	right: 0rem;
	top: 2.5rem;
	/*display: none;*/
}

#zbo_hr2,#zbo_hr3 {
	width: .7rem;
	position: absolute;
	z-index: 60;
	right: 0rem;
	top: 1.9rem;
	/*display: none;*/
}

#zsi_fl2,#zsi_fl3 {
	width: .8rem;
	position: absolute;
	z-index: 40;
	left: 0.7rem;
	bottom: 0.25rem;
	/*display: none;*/
}

#zbo_fl2,#zbo_fl3 {
	width: .7rem;
	position: absolute;
	z-index: 40;
	left: 0.7rem;
	bottom: 0.1rem;
	/*display: none;*/
}

#zsi_fr2,#zsi_fr3 {
	width: .8rem;
	position: absolute;
	z-index: 40;
	left: 2rem;
	bottom: 0.2rem;
	/*display: none;*/
}

#zbo_fr2,#zbo_fr3 {
	width: .7rem;
	position: absolute;
	z-index: 60;
	left: 1.8rem;
	bottom: 0rem;
	/*display: none;*/
}

#zsi_yz2,#zsi_yz3 {
	width: 2.3rem;
	position: absolute;
	z-index: 40;
	left: .7rem;
	bottom: 0rem;
	/*display: none;*/
}

#zbo_yz2,#zbo_yz3 {
	width: 2.1rem;
	position: absolute;
	z-index: 40;
	left: .6rem;
	bottom: 0rem;
	/*display: none;*/
}

#well {
	position: absolute;
	width: 4rem;
	left: 7.5rem;
	bottom: 13rem;
	display: none;
}
#well2 {
	position: absolute;
	width: 6rem;
	left: 2rem;
	bottom: 10rem;
	/*display: none;*/
}

/*送快递页*/
#expressPage {
	background: url(../img/bg2.png) no-repeat;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: 100% 100%;	
	display: none;
}

#zbo4 {
	position: absolute;
	bottom: 10.5rem;
	left: 10rem;
	z-index: 60;
	/*display: none;*/
}
.zbo4 {
	width: 3rem;
	height: 3.5rem;	
}
#zbo5 {
	position: absolute;
	bottom: 10.5rem;
	left: 4rem;
	z-index: 60;
	display: none;
}
.zbo5 {
	width: 4rem;
	height: 4.5rem;	
}
.zbo_bd {
	width: 3rem;
	position: relative;
	z-index: 50;	
}
.zbo_bd2 {
	width: 5rem;
	position: relative;
	z-index: 70;	
}
.zbo_hl2 {
	width: 1.5rem;
	position: absolute;
	left: 4.1rem;
	top: 2.5rem;
}
.zbo_hr2 {
	width: 2.5rem;
	position: absolute;
	z-index: 60;
	left: 3.6rem;
	top: 3.1rem;
}

.zbo_hl {
	width: .8rem;
	position: absolute;
	z-index: 40;
	left: 0rem;
	top: 2rem;
}

.zbo_hr {
	width: .7rem;
	position: absolute;
	z-index: 60;
	right: 0rem;
	top: 1.9rem;
}

.zbo_fl,.zbo_fl2 {
	width: .7rem;
	position: absolute;
	z-index: 40;
	left: 0.7rem;
	bottom: 0.1rem;
}

.zbo_fr,.zbo_fr2 {
	width: .7rem;
	position: absolute;
	z-index: 60;
	left: 1.8rem;
	bottom: 0rem;
}

.zbo_yz {
	width: 2.1rem;
	position: absolute;
	z-index: 40;
	left: .6rem;
	bottom: 0rem;	
}

#well {
	position: absolute;
	width: 4rem;
	left: 7.5rem;
	bottom: 13rem;
}
#clickPage {
	background: url(../img/bg2.png) no-repeat;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: 100% 100%;
	display: none;
}

#btnBox {
	width: 5rem;	
	position: absolute;
	z-index: 60;
	bottom: 9.7rem;
	left: 5.5rem;
}
.clickDiv {
	width: 2.9rem;
	height: 2.5rem;
	bottom: 13rem;
	left: 8rem;
	z-index: 70;
	position: absolute;
	/*background: red;*/
}
.zbaCloud {
	position: absolute;
	width: 3rem;
	left: 1rem;
	bottom: 7rem;
}
.zmaCloud {
	position: absolute;
	width: 2.6rem;
	left: 1rem;
	bottom: 7rem;
}
.zsiCloud {
	position: absolute;
	width: 2.3rem;
	left: .6rem;
	bottom: 5rem;
}
.zboCloud {
	position: absolute;
	width: 2rem;
	left: .4rem;
	bottom: 4rem;
}
#wishPage {
	background: url(../img/bg2.png) no-repeat;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: 100% 100%;
	display: none;
}
#zbo_wish {
	width: 6rem;
	position: absolute;
	bottom: 4rem;
	right: -0.7rem;
	display: none;
}
#zbo_mon {
	width: .7rem;
	position: absolute;
	bottom: 1rem;
	left: -0.4rem;	
}
.dinosaur {
	width: 5rem;
	position: absolute;
	right: -6rem;
	bottom: -1rem;
}
.dinosaur_wp {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 70;
	top: 0rem;
	left: .17rem;
	-webkit-transform-origin: bottom right;
}
#zsi5 {
	position: absolute;
	bottom: 10.5rem;
	left: 9rem;
	display: none;
}
.zsi5 {
	width: 3.5rem;
	height: 5rem;
	/*background: red;*/
}
#zma5 {
	position: absolute;
	bottom: 10.5rem;
	left: 9rem;
	display: none;
	/*display: none;*/
}

.zma5 {
	width: 4rem;
	height: 6rem;
	/*background: red;*/
}
#zba5 {
	position: absolute;
	bottom: 10.5rem;
	left: 9rem;
	display: none;
	/*display: none;*/
}

.zba5 {
	width: 4.5rem;
	height: 6.5rem;
	/*background: red;*/
}

.zsi_bd5 {
	width: 100%;
	position: relative;	
	z-index: 50;
}
.zma_bd5 {
	width: 100%;
	position: relative;	
	z-index: 50;
}
.zba_bd5 {
	width: 100%;
	position: relative;	
	z-index: 50;
}

.zsi_hl5 {
	width: 1rem;
	position: absolute;
	z-index: 40;
	bottom: 1.5rem;
	left: -0.4rem;	
}
.zsi_hr5 {
	width: 1rem;
	position: absolute;
	z-index: 40;
	bottom: 1.5rem;
	right: -0.1rem;		
}

.zma_hr5 {
	width: 1rem;
	position: absolute;
	z-index: 40;
	bottom: 2rem;
	right: -0.1rem;		
}
.zma_hl5 {
	width: 1rem;
	position: absolute;
	z-index: 40;
	bottom: 2rem;
	left: -0.7rem;		
}
.zba_hr5 {
	width: 1.1rem;
	position: absolute;
	z-index: 40;
	bottom: 2.5rem;
	right: -0.4rem;		
}
.zba_hl5 {
	width: 1.1rem;
	position: absolute;
	z-index: 40;
	bottom: 2.5rem;
	left: -0.9rem;		
}

.zsi_fl5 {
	width: .9rem;
	position: absolute;
	z-index: 40;
	bottom: -0rem;
	left: 0.2rem;		
}
.zsi_fr5 {
	width: .8rem;
	position: absolute;
	z-index: 40;
	bottom: 0rem;
	right: .8rem;		
	-webkit-transform-origin: top right;

}
.zma_fl5 {
	width: .9rem;
	position: absolute;
	z-index: 40;
	bottom: 0.2rem;
	left: 0.2rem;		
}
.zma_fr5 {
	width: .8rem;
	position: absolute;
	z-index: 40;
	bottom: 0.1rem;
	right: 1rem;		
	-webkit-transform-origin: top right;

}
.zba_fl5 {
	width: 1rem;
	position: absolute;
	z-index: 40;
	bottom: 0.2rem;
	left: 0.8rem;		
	-webkit-transform-origin: top right;
}
.zba_fr5 {
	width: .8rem;
	position: absolute;
	z-index: 60;
	bottom: 0.1rem;
	right: 1.1rem;		
	-webkit-transform-origin: top left;
}

.zsi_yz5 {
	width: 3rem;
	position: absolute;
	z-index: 40;
	bottom: -0.2rem;
	right: 0.4rem;	
}
.zma_yz5 {
	width: 3.3rem;
	position: absolute;
	z-index: 40;
	bottom: 0.1rem;
	right: 0.8rem;	
}
.zba_yz5 {
	width: 3.3rem;
	position: absolute;
	z-index: 40;
	bottom: 0.1rem;
	right: 0.8rem;	
}

#zsi_wish {
	width: 6rem;
	position: absolute;
	bottom: 5.5rem;
	left: -1rem;
	opacity: 0;
}
#zma_wish {
	width: 6rem;
	position: absolute;
	bottom: 6.5rem;
	left: -1rem;
	opacity: 0;
}
#zba_wish {
	width: 8rem;
	position: absolute;
	bottom: 7rem;
	left: -1rem;
	opacity: 0;
}

#zsi_mon {
	width: 0.7rem;
	position: absolute;
	bottom: 1.5rem;
	left: -0.8rem;	
	z-index: 50;
}
#zma_mon {
	width: 0.7rem;
	position: absolute;
	bottom: 2.1rem;
	left: -1rem;	
	z-index: 50;
}
#zba_mon {
	width: 0.7rem;
	position: absolute;
	bottom: 2.6rem;
	left: -1.2rem;
	z-index: 50;
}

#pigPlaying {
	width: 15rem;
	height: 11rem;
	/*background: red;*/
	position: absolute;
	bottom: 8rem;
	left: 2rem;
	display: none;;
}
.wishNt {
	width: 100%;
	position: absolute;
	bottom: 0rem;
}
.zboNt {
	width: 4rem;
	position: absolute;
	bottom: 2rem;
	left: 2.5rem;
}

.zsiNt {
	width: 5rem;
	position: absolute;
	bottom: 2rem;
	left: 7.5rem;
}
.butNt {
	width: 1.5rem;
	position: absolute;
	bottom: 10rem;
	left: 5.5rem;
	-webkit-transform: rotate(90deg);
}
.w3Zbo {
	width: 5rem;
	position: absolute;
	bottom: 9rem;
	left: 3rem;
}
.w3ZboYz {
	width: 2.5rem;
	position: absolute;
	bottom: 8.8rem;
	left: 3.8rem;	
}
.w3Zma {
	width: 5rem;
	position: absolute;
	z-index: 50;
	bottom: 9rem;
	left: 11rem;;	
}
.w3ZmaHl {
	width: 1.5rem;
	position: absolute;
	bottom: 12.2rem;
	left: 10rem;	
	z-index: 40;
	-webkit-transform-origin: bottom right;
}
.w3ZmaHr {
	width: 1.5rem;
	position: absolute;
	bottom: 12.2rem;
	left: 14.8rem;	
	z-index: 60;	
	-webkit-transform-origin: bottom left;

}
#zmaWish {
	display: none;
}
#zbaWish {
	display: none;
}

.zsiBall {
	width: 5rem;
	height: 11rem;
	position: absolute;
	bottom: 8rem;
	left: 4rem;
}
.w4_zsi {
	width: 100%;
}
.w4_zsi_yz {
	width: 70%;
	position: absolute;
	left: 1rem;
}
.zboBall {
	width: 3rem;
	height: 7rem;
	position: absolute;
	bottom: 15rem;
	left: 12rem;
}
.w4_zbo {
	width: 100%;
}
.w4_zbo_yz {
	width: 70%;
	position: absolute;
	left: 0.1rem;
}
#shakePage {
	background: url(../img/bg8.png) no-repeat;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: 100% 100%;
	display: none;	
}
#wishOne {
	background: url(../img/bg9.png) no-repeat;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: 100% 100%;
	display: none;
}
#wishTwo {
	background: url(../img/bg11.png) no-repeat;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: 100% 100%;
	display: none;
}
#wishTwo2 {
	background: url(../img/bg12.png) no-repeat;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: 100% 100%;
	display: none;	
}
#lastPage {
	background: url(../img/bg13.png) no-repeat;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: 100% 100%;
	display: none;
}
#ticket_btn {
	/*border: 1px solid;*/
	width: 7rem;
	height: 4rem;
	position: absolute;
	top: 11rem;
	left: 6rem;
}
.bg13_title {
	width: 11rem;
	position: absolute;
	top: 9rem;
	left: 4rem;	
}
.milk {
	width: 8rem;
	position: absolute;
	top: 11rem;
	left: 5.5rem;
}
.bg8_q1 {
	width: 1rem;
	position: absolute;
	top: 9rem;
	left: 9rem;	
	-webkit-animation: showAndDisapper 3s linear 0s infinite,
	riseUp 3s linear 0s infinite;
}
.bg8_q2 {
	width: 1.5rem;
	position: absolute;
	top: 7rem;
	left: 7rem;	
	-webkit-animation: showAndDisapper 3s linear 0.2s infinite,
	riseUp 3s linear 0.2s infinite;
}
.bg8_q3 {
	width: 3rem;
	position: absolute;
	top: 4rem;
	left: 10rem;	
	-webkit-animation: showAndDisapper 3s linear 0.4s infinite,
	riseUp 3s linear 0.4s infinite;
}
/*气泡上升消失动画*/
@-webkit-keyframes showAndDisapper {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes riseUp {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(0, -1rem);
    }
}
.yaoyiyao {
	width: 3.5rem;
	position: absolute;
	top: 22rem;
	left: 4rem;	
	-webkit-transform-origin: bottom right;
}
.bg8_yyy{
	width: 7rem;
	position: absolute;
	top: 24rem;
	left: 8rem;	
	/*display: none;*/
}
.bg10_yyy{
	width: 6rem;
	position: absolute;
	top: 23rem;
	left: 8rem;	
	display: none;
}

#bg9_btn {
	width: 6rem;	
	position: absolute;
	top: 25rem;
	left: 6.5rem;	
}
#wishTwo_btn {
	width: 6rem;	
	position: absolute;
	top: 26rem;
	left: 6.5rem;	
}
#paste_btn {
	width: 7rem;	
	position: absolute;
	bottom: 2rem;
	left: 2rem;	
}
#noShare_btn {
	width: 7rem;	
	position: absolute;
	bottom: 2rem;
	left: 10rem;		
}
#playAgain {
	width: 7rem;	
	position: absolute;
	bottom: 2rem;
	left: 5.9rem;		
}