* {
	margin: 0;
	padding: 0;
}
#bg {
	background: url(../img/bg3.png) no-repeat,
				url(../img/bg2.png) 0 1330px no-repeat,
				url(../img/bg1.png);
	height: 2801px;
	border: 1px solid;
	position: relative;
}
#box {
	width: 556px;
	height: 2630px;
	margin: 17px auto 0;
	background: url(../img/box2.png) bottom no-repeat,
	url(../img/box.png) no-repeat;
	overflow: hidden;

	/*background-color: red;*/
}
#main {
	width: 432px;
	height: 2470px;
	/*background-color: red;*/
	margin: 75px auto auto;
	overflow: hidden;
}
#bottom {
	width: 100%;
	height: 80px;
	background: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 0;
	text-align: center;
	line-height: 80px;  //line-height对inline-block不好
}
#bottom a {
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	background: #d90000;
	font-size: 18px;
	/*width: 300px;*/
	/*height: 35px;*/
	/*position: absolute;*/
	/*right:0;*/
	/*left: 0; */
	/*top: 0;*/
	/*bottom: 0;*/
}
#logo {
	background: url(../img/logo.png) no-repeat;
	width: 154px;
	height: 37px;
	position: relative;
	left: 20px;
	top: 20px;
}
#title {
	text-align: center;
	position: relative;
	margin-top: 19px;
}

#part1 {
	position: relative;
	top: 10px;
	margin-bottom: 22px;
}
.no {
	position: relative;
	top: -38px;
}
#part1 img:nth-of-type(2) {
	position: relative;
	left: 10px;
}
#part1 img:nth-of-type(3) {
	position: absolute;
	right: 0;
}
#pa1, #pa2 {
	color: white;
	font-size: 20px;
	/*margin: 20px 0 20px 53px;*/
}
#pa1 {
	margin: 20px 0 20px 53px;
}
#pa2 {
	margin: 20px 0 20px 60px;
}
#part1 p:nth-of-type(2) {
	color: white;
}
.no3 {
	position: relative;
	top: -137px;
}
#part1 a {
	font-size: 24px;
	color: #8b7060;
	position: absolute;
	right: -38px;
	bottom: -30px;
}
#part2 {
	color: white;
	margin-top: 60px;
}
.text-area {
	width: 425px;
	height: 129px;
	border: 4px solid;
	font-size: 25px;
	font-style: italic;
	resize: none;
	background-color: black;
	border-image:url(../img/text-kuang.png) 4 4 4 4 round;
	color: white;
}
#part3 {
	text-align: center;
}
#part3 input {
	width: 275px;
	height: 36px;
	font-size: 25px;
	color: #5d4c42;
	border-color: #5d4c42;
	background-color: #272422;
	border: 1px solid ;
}
#part3 img {
	position: relative;
	top: 12px;
}
#part3 p {
	margin-top: 20px;
	color: white;
}
.container4 {
	margin-bottom: 25px;
}
#part4 {
	margin-top: 22px;
	position: relative;
}
#miji-kuang {
	position: absolute;
	top: 275px;
	left: 1px;
	z-index: 999;
}
#miji {
	margin-left: 10px;
}
.rank {
	margin-bottom: 6px;
}
.rank-1 {
	width: 424px;
	height: 50px;
	font-size: 20px;
	color: #8c583c;
	background-color: #eeeeee;
	border-bottom: 1px solid;
	position: relative;
}
.rank-1 img {
	position: relative;
	top: 7px;
}
#user {
	display: inline-block;
	margin-left: 17px;
}
#dianzan {
	display: inline-block;
	margin-left: 0px;
}
.comment {
	width: 424px;
	height: 100px;
	background-color: #eeeeee;
	position: relative;
}
#num {
	font-size: 29px;

}
.comment p {
	width: 367px;
	height: 63px;
	font-size: 23px;
/*	position: relative;
	top: 15px;
	left: 38px;*/
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
