* {
	padding: 0;
	margin: 0;
}
#bg {
	background: url(../img/pop1/bg.png);
	height: 1010px;
	border: 1px solid;
}
#main {
	width: 386px;
	height: 786px;
	/*background-color: red;*/
	margin: 109px auto 104px;
	position: relative;
}
.part {
	text-align: center;
	position: relative;
}
.dixian {
	position: absolute;
	bottom: -1px;
	right: 3px;
}
.part2 div {
	display: inline-block;
	position: relative;
	/*margin-left: 30px;*/
}
.wang {
	left: 22px;
}
.wen {
	left: 58px;
}
.mo {
	left: 94px;
}
.part2 span {
	color: #1a1a1a;
	font-size: 45px;
	font-weight: bold;
	position: absolute;
	top: 10px;
	left: 20px;
}
#shuoming {
	margin-left: 29px;
}
.dixian2 {
	position: relative;
	bottom: 20px;
}
.container3 {
	text-align: center;
}
.part4 {
	position: relative;
}
.container4 {
	position: relative; 
}
.kanbuwei {
	
}
.container4 span {
	color: #1a1a1a;
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	left: 28px;
}
.beef {
	position: absolute;
	right: 0;
	top: 10px;
}
.part4 p {
	color: #a98974;
	font-size: 19px;
	letter-spacing: 2px;
	margin: 20px 0 0 10px;
}
.container4-1 {
	text-align: center;
	position: relative;
}
.container4-1 img:nth-child(1) {
	margin-top: 50px;
}
.container4-1 img:nth-child(2) {
	position: absolute;
	left: 70px;
	top: 16px;;
}
.part5 {
	text-align: center;
	margin-top: 140px;
}
.part5 p {
	color: white;
	font-size: 17px;
	padding: 8px;
	border: 1px dashed white;
}
.part6 {
	position: absolute;
	bottom: -20px;
	right: -30px;
}
#close {
	position: absolute;
	right: 35px;
	top: 35px;
}