* {
	margin: 0;
	padding: 0;
}
#bg {
	background: url(../img/pop2/bg.png) no-repeat;
	height: 1010px;
	border: 1px solid;
}
#main {
	width: 370px;
	height: 700px;
	/*background-color: red;*/
	margin: 155px auto;
}
#part2 {
	margin-top: 10px;
}
#part2 span {
	font-size: 28px;
	font-weight: bold;

}
#part2 p {
	display: inline-block;
	font-size: 19px;
	position: relative;
	top: -4px;
	padding-bottom: 20px; 
}
#part2 img {
	vertical-align: top;
}
#container {
	margin-top: 15px;
}
#part3 {
	position: relative;
	left: 18px;
}
#part3 p {
	font-size: 13px;
	margin-top: 10px;
}
#part4 {
	position: absolute;
	top: 53px;
	right: 20px;
}