<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    .text-danger {
      color: red;
    }
  </style>
</head>

<body>
    <div id="app0" v-bind:class="text-danger">text-danger</div>

  <span id="test">Message: {{ msg }}</span>

  <!-- Mustache 语法不能作用在 HTML 特性上，遇到这种情况应该使用 v-bind 指令 -->
  <!-- v-bind 指令可以用于响应式地更新 HTML 特性  (绑定属性) -->
  <!-- v-on 指令，它用于监听 DOM 事件 -->
  <!-- 每个绑定都只能包含单个表达式 -->

  <button id="app2" v-bind:disabled="isButtonDisabled">Button</button>

  <div id="app3">
    <p>original Message: {{message}}</p>
    <p>computed reversed message: "{{reversedMessage}}"</p>
  </div>

  <div id="demo"></div>

  <div id="components-demo">
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
  </div>

  <div id="app4">
    <template v-if='false'>
      <h1>Title</h1>
      <p>pp1111p1p1p1p1p</p>
      <p>pp1111p1p1p1p1p</p>
    </template>

  </div>

  <div id="app5">
    <template v-if='loginType === "username"'>
      <label for="">Username</label>
      <input type="text" placeholder="Enter your username">
    </template>
    <template v-else>
      <label for="">Email</label>
      <input type="text" placeholder="Enter your email address">
    </template>

  </div>

  <ul id="app6">
    <li v-for="num in items">
      {{ num.message }}
    </li>
  </ul>

</body>
<script>
  var app0 = new Vue({
    el: '#app0'
  })

  var app = new Vue({
    el: '#test',
    data: {
      msg: '<span v-html="rawHtml"></span></p>'
    }
  })

  var app2 = new Vue({
    el: '#app2',
    data: {
      isButtonDisabled: []
    }
  })

  var app3 = new Vue({
    el: '#app3',
    data: {
      message: 'hello'
    },
    // 计算属性是基于它们的依赖进行缓存的。计算属性只有在它的相关依赖发生改变时才会重新求值。
    // 这就意味着只要 message 还没有发生改变，多次访问 reversedMessage 计算属性会立即返回之前的计算结果，而不必再次执行函数。
    computed: {  // 对于任何复杂逻辑，你都应当使用计算属性computed
    // 计算属性的 getter
      reversedMessage: function () {
        // `this` 指向 app3 实例
        return this.message.split('').reverse().join('')
      }
    }
  })

  var aaa = {
    a: 'aaa',
    b: {
      a: 'aaaaaaaa',
      bb: function () {
        return this.a
      }
    },
    c: function () {
      return this.a
    }
  }

  // console.log(aaa.b.bb())
  // console.log(aaa.c());

  var vm = new Vue({
    el: '#demo',
    data: {
      firstName: 'Foo',
      lastName: 'Bar'
    },
    computed: {
      fullName: {
        // getter
        get: function () {
          return this.firstName + ' ' + this.lastName
        },
        // setter
        set: function (newValue) {
          var names = newValue.split(' ')

          this.firstName = names[0]
          this.lastName = names[names.length - 1]
        }
      }
    }
  })

  // 定义一个名为 button-counter 的新组件
  Vue.component('button-counter', {
    data: function () {
      return {
        count: 0
      }
    },
    template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
  })
  new Vue({ el: '#components-demo' });


  var app4 = new Vue({
    el: '#app4',
    data: {
      ok: true
    }
  })

  var app5 = new Vue({
    el: '#app5',
    data: {
      loginType: 'email'
    }
  })

  var app6 = new Vue({
    el: '#app6',
    data: {
      items: [
        { message: 'one' },
        { message: 'two' }
      ]
    }
  })

</script>

</html>